<!DOCTYPE html>
<html>

<head>
  <% include head.ejs %>
</head>

<body>
  <header>
    <% include header.ejs %>
  </header>
  <main>
    <h1>This is about page</h1>
  </main>
  <footer>
    <% include footer.ejs %>
  </footer>
</body>

</html>
