<!DOCTYPE html>
<html>

<head>
  <% include head.ejs %>
</head>

<body>
  <header>
    <% include header.ejs %>
  </header>
  <main>
    <div class="jumbotron">
      <form name="form1" method="POST" action="/mcu/showresponse">
        <table>
          <tr>
            <td>name</td>
            <td><input type="text" name="name"></td>
          </tr>
          <tr>
            <td>ID</td>
            <td><input type="text" name="id"></td>
          </tr>
          <tr>
            <td colspan="2"><input type="submit" value="Save"></td>
          </tr>
        </table>
      </form>
      <% if(myMCU!=null){ %>
        <div> Data Entered as
          <%= myMCU.name %>
            <%= myMCU.id %>
        </div>
        <%}%>
    </div>
  </main>
  <footer>
    <% include footer.ejs %>
  </footer>
</body>

</html>
